body{
	background:url(../images/tabs.png);

}
#wrapper{
	background:none !important;
	border:none;
	box-shadow:none;
}
#wrap{
	background:none;
	margin-top:100px;
}
#login{
	border:none;
}
#login_content{
	background:none;

}
label{
	color:white !important;
	width:400px !important;
}
input.text{
	float:right;
	display:inline-block !important;
	width:300px !important;
}
img.corner{
	position:fixed;
	right:0;
	bottom:0;
	z-index:-1;
}
p{
	padding-bottom:20px !important;
}
p:first-child{
	float:right;
}
a{
	float:right;
	color:rgb(200,200,200) !important;
	padding-top:10px;
}
select{
	margin-left:38px;
	border-radius:3px;

}
a:hover{
	color:rgb(200,20,20) !important;
}
input.submit{
	float:right;
	background:rgb(180,20,40) !important;
}
#login_content div{
	float:left;
}
