
#content_body{
	margin:30px;
}
fieldset>div{
	padding-top:30px;
}
fieldset{
	border:none;
	border-radius:0px;
	border-top:1px solid #C8402B;
	box-shadow:none;
	width:95%;
	padding:0px;
	margin-bottom:20px;
}

fieldset legend{
	border:0;
	font-size:20px;
	margin-bottom:50px;
}
fieldset span{
	vertical-align:middle !important;
}
fieldset p{
	margin:15px 0px;
}
fieldset input.text{
	padding:5px !important;
	width:300px !important;
}
.form-endpoint_modules > div{
	display:inline-block;
	margin-right:75px;
	vertical-align:top;
}
.element-name{
}




@media screen and (max-width:1024px){
    #content_body {
        margin: -20px 0px 0px 0px;
    }

    fieldset {
        width: 100%;
    }
}

@media screen and (max-width:580px){
	fieldset legend {
		width: 100%;
	}

	.fbutton, button.button.red, input.button.red, a.button.red {
	    margin-bottom: 0;
	}

	button.button, input.button, a.button {
	    margin: 0;
	}
}

@media screen and (max-width:500px){
	#content_body {
        margin: -20px 0px 0px -16px;
        width: 110%;
    }
}


@media screen and (max-width:380px){
	fieldset {
		width: 290px;
	}
}