#content_body{
margin:20px;
}
h3{
	font-size:25px;
	font-weight:400;
	color:rgb(200, 64, 43);
	border-bottom:1px solid rgb(200, 64, 43);
	width:80%;
}
#endpoint_map{
	width: 80%; 
	height: 500px;
	border: 1px solid #ccc;
}



@media screen and (max-width:1024px){
    #content_body {
        margin: -10px 0px 0px 0px;
    }

    fieldset {
        width: 100%;
    }

    .help_box {
    	width: 100%;
    }

    #content_body h3 {
        width: 100%;
    }

    #endpoint_map {
    	width: 100%;
    }
}