
#content_body{
margin:30px;
}

fieldset{
	border:none;
	border-radius:0px;
	border-top:1px solid #C8402B;
	box-shadow:none;
	width:80%;
	padding:0px;
	margin-bottom:20px;
}

fieldset legend{
	border:0;
	font-size:20px;
	margin-bottom:50px;
}
fieldset span{
	margin-right:50px;
	vertical-align:middle !important;
}
fieldset label{
	margin-right:20px;
}
fieldset p{
	margin:15px 0px;
}


fieldset input.text{
	padding:5px !important;
	width:300px !important;
}
p.line{
	display:inline-block !important;
}
span.line{
	width:150px !important;
	margin:0px;
}

#period{
	width:260px !important;
}

.yearbox{
	display:inline-block;
	position:relative;
	top:2px;
	left:-8px;
	width:30px;
	height:15px;
	padding:5px;
	background:#f0f0f0;
	border:1px solid #CCCCCC;
	text-align:center;
}

#cost_user_month,
#total_amount{
	width:275px !important;
}

.pijadita{
	display:inline-block;
	position:relative;
	top:2px;
	left:-8px;
	width:15px;
	height:15px;
	padding:5px;
	background:#f0f0f0;
	border:1px solid #CCCCCC;
	text-align:center;
}
.pijaditas{
	position:relative;
	top:-43px;
	left:305px;
	text-align:center;
}
.pijaditas div{
	position:absolute;
	width:15px;
	height:16px;
	padding:5px;
	background:#f0f0f0;
	border:1px solid #CCCCCC;
}
.pijaditas div:nth-child(2){
	left: 75px;
	width: 50px;
}
.pijaditas div:last-child{
	left:222px;
}
input.button{
	margin-left: 458px;
}

input.button.line{
	margin: 0px 0px 0px 0px;
}