
#content_body{
margin:30px;
}

fieldset{
	border:none;
	border-radius:0px;
	border-top:1px solid #C8402B;
	box-shadow:none;
	width:80%;
	padding:0px;
	margin-bottom:20px;
}

fieldset legend{
	border:0;
	font-size:20px;
	margin-bottom:50px;
}
fieldset span{
	margin-right:50px;
	vertical-align:middle !important;
}
fieldset p{
	margin:15px 0px;
}
fieldset input.text{
	padding:5px !important;
	width:300px !important;
}
input.button{
	margin-left: 458px;
}



@media screen and (max-width:1000px){
	 #content_body{
        margin: -20px 0px 0px 0px;
    }

    fieldset {
        width: 100%;
    }

    fieldset input.text {
	    width: 299px !important;
	}

	input.button {
		margin-left: 0;
	}

	fieldset span {
		margin-right: 10px;
	}

	fieldset p .entitle_medium {
		width: 111px;
	}

	fieldset input.text {
		width: 364px !important;
	}
}


@media screen and (max-width:704px){
	fieldset p .entitle_medium{
		width: 120px;
	}

	fieldset input.text {
	    width: 200px !important;
	}

	input.button {
	    margin-left: 295px;
	}
}



@media screen and (max-width:580px){
	fieldset input.text {
		width: 265px !important;
	}

	input.button {
		margin-left: 172px;
	}

	fieldset span {
		margin-right: 10px;
	}

	fieldset p .entitle_medium {
		width: 110px;
	}
}

@media screen and (max-width:500px){
	fieldset input.text {
		width: 176px !important;
	}
}

@media screen and (max-width:360px){
	fieldset input.text {
	    width: 272px !important;
	}
}
